@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    .jumbotron {
        margin-top: 20px;
        background-image: url(http://static.websguru.com.ar/var/m_2/21/213/61885/985784-laboratorio-de-analisis-clinicos-banner-1.jpg);
        background-size: cover;
    }
</style>

<style type="text/css">
    .boton {
        align-content: center; 
    }
</style>
<br/> 




<div class="jumbotron">
    <h1>Laboratorio Hermanos Campuzano</h1>
    <p class="lead">Ayudas diagnosticas y laboratorio clinico.</p>

</div>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 pull-rigth" type="search" placeholder="Nombre de usuario">
    <input class="form-control mr-sm-2" type="search" placeholder="Contraseña">
    <button type="button" class="btn btn-secondary" onclick="javascript: location.href = '/Home/Principal';">Inicio</button>
</form>

