@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    .jumbotron {
        margin-top: 20px;
        background-image: url(http://static.websguru.com.ar/var/m_2/21/213/61885/985784-laboratorio-de-analisis-clinicos-banner-1.jpg);
        background-size: cover;
    }

   
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class=" botones nav-item active">
                <button type="button" class="btn btn-secondary" onclick="javascript: location.href = '/Home/Principal';">Inicio</button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="botones nav-item active">
                <button type="button" class="btn btn-secondary" onclick="javascript: location.href = '/InformacionSedes/Sede';">Nuestras Sedes</button>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="botones nav-item active">
                <button type="button" class="btn btn-secondary" onclick="javascript: location.href = '/CrearPaciente/Paciente';">Datos Paciente</button>
            </li>
        </ul>


    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            
                <li class="nav-item active">
                    <button type="button" class="btn btn-secondary align-items-end" onclick="javascript: location.href = '/Home/Index';"> Cerrar Sesion</button>
                </li>
            </ul>
        </div>

</nav>


<div class="jumbotron">
    <h1>Laboratorio Hermanos Campuzano</h1>
    <p class="lead">Ayudas diagnosticas y laboratorio clinico.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>QUIÉNES SOMOS?</h2>
        <p>
            El Laboratorio cuenta con moderna tecnología para la realización de los exámenes en forma eficiente y con calidad, con el objetivo de satisfacer las necesidades de nuestros usuarios, otorgándoles servicios realizados con tecnología de vanguardia en Colombia
        </p>

    </div>
    <div class="col-md-4">
        <h2>MISIÓN</h2>
        <p>Satisfacer las necesidades de nuestros clientes con el personal más calificado </p>
    </div>
    <div class="col-md-4">
        <h2>VISIÓN</h2>
        <p>Tener reconocimiento en el 2025 como la mejor empresa en Ayudas diagnosticas y laboratorio clinico</p>
    </div>
</div>

