<style>
    .texto {
        text-align: left;
        font-weight: bold;
        font-size: medium;
    }
</style>

<br />
<br />
<form id="InformacionSedes" name="InformacionSedes" method="post" action="/InformacionSedes/Barranquilla">
    <div class="container">
        <div class="card">
            <div class="texto card-body">
                SEDE BARRANQUILLA
                <br />


                Calle 82 #46 - 58


                <br />
                Tel: (5) 361 79 00
                <br />
                Fax: (5) 361 79 69
                <br />
                Correo: sedebarranquilla@laboratoriohc.com
                <br />
                Horario entrega de resultados semana: lunes a viernes de 9:00 am a 4:00 pm en jornada continua.
                <br />
                Horario entrega de resultados fin de semana: sabado 9:00 am a 1:00 pm en jornada continua.
                <br />
                Horario toma de muestras semana: lunes a viernes de 6:00 am a 10:00 am en jornada continua.
                <br />
                Horario toma de muestras fin de semana: sabado de 6:00 am a 9:00 pm en jornada continua.
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" onclick="javascript: location.href = '/InformacionSedes/Sede';">Atras</button>

</form>