<style>
    .texto {
        text-align: left;
        font-weight: bold;
        font-size: medium;
    }
</style>

<br />
<br />
<form id="InformacionSedes" name="InformacionSedes" method="post" action="/InformacionSedes/Bucaramanga">
    <div class="container">
        <div class="card">
            <div class="texto card-body">
                
                SEDE BUCARAMANGA
                <br />

                Cr 26 A # 30-68 Cañavera


                <br />
                Teléfono: 6431110 - 6452323 – 3174044266
                <br />
                Fax: (5) 656 7854
                <br />
                Correo: sedebucaramanga@laboratoriohc.com
                <br />
                Horario entrega de resultados semana: lunes a viernes de 9:00 am a 4:00 pm en jornada continua.
                <br />
                Horario entrega de resultados fin de semana: sabado 9:00 am a 1:00 pm en jornada continua.
                <br />
                Horario toma de muestras semana: lunes a viernes de 6:00 am a 10:00 am en jornada continua.
                <br />
                Horario toma de muestras fin de semana: sabado de 6:00 am a 9:00 pm en jornada continua.
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" onclick="javascript: location.href = '/InformacionSedes/Sede';">Atras</button>

</form>